<footer class="text-bg-dark p-2 text-center g-md-flex justify-content-between">
    <p>&copy;2024 Bcampdat</p>
    <p>
        <a class="text-white link-offset-2 link-offset-3-hover link-underline-opacity-0 link-underline-opacity-75-hover link-underline-light"
            href="https://github.com/bcampdat/afari"><img src="." target="_blank" alt=""></a>
    </p>
    <img src="/img/Afari.png" alt="" width="200">
</footer>
